apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: longhorn-certificate
  namespace: longhorn-system
spec:
  secretName: {{ longhorn_helm_values.hostname }}-tls
  issuerRef:
    name: letsencrypt-clusterissuer
    kind: ClusterIssuer
  commonName: {{ longhorn_helm_values.hostname }}
  dnsNames:
    - {{ longhorn_helm_values.hostname }}