---
- name: Instalar pacotes necess치rios
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  vars:
    packages:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg2
      - software-properties-common
    retries: 5
    delay: 60

- name: Verificar se Docker est치 instalado
  shell: docker --version
  register: docker_check
  changed_when: false
  failed_when: false
  ignore_errors: true

- name: Instalar Docker CE
  shell: curl -fsSL https://get.docker.com | bash
  become: true
  when: docker_check.rc != 0

# Preparar o ambiente para usar templates .j2

- name: Garantir que os pacotes necess치rios estejam instalados
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  become: yes
  loop:
    - python3
    - python3-pip

- name: Garantir que as bibliotecas necess치rias do Python estejam instaladas
  pip:
    name: "{{ item }}"
    state: present
    executable: pip3
  loop:
    - jsondiff
    - pyyaml
